SOURCE_CHAIN_KEY=1
PROOF_BUILDER_URL="https://prover.cc3-testnet.creditcoin.network"
CREDITCOIN_RPC_URL="https://rpc.cc3-testnet.creditcoin.network"
SOURCE_CHAIN_RPC_URL="https://ethereum-sepolia-rpc.publicnode.com"
CREDITCOIN_WALLET_PRIVATE_KEY=""
DEADSWITCH_MANAGER_ADDRESS="0xe12EEc4cD89F695A709e27E8ceb01b213fcd9a0c"
COLLATERAL_VAULT_ADDRESS="0x80366d27b907828A36243140ce6ACED6350EE412"
TEST_TOKEN_ADDRESS="0xe12EEc4cD89F695A709e27E8ceb01b213fcd9a0c"
EVM_DECODER_ADDRESS="0x60b70BC2E774d7A781138009A28B2917893dc98A"
